.home-header {
    display: flex;
    justify-content: center;
}

.home-header-btn {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    padding: 1rem 2rem 1rem 2rem;
    font: inherit;
    font-size: 1.5rem;
    cursor: pointer;
    outline: inherit;

    width: 30vw;
}

.home-header-btn:nth-child(1) {
    border-top-left-radius: 2rem;
}

.home-header-btn:nth-child(3) {
    border-top-right-radius: 2rem;
}

.home-header-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
