.home-main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    height: 100vh;

    background-image: url('../images/background_landscape.jpg');
    background-size: cover;
    background-position: center;
}

.content-box {
    box-shadow: 0 0 1.5rem 0 black;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;

    width: 50rem;
    min-height: 40rem;
}

.Content {
    /* width: 90vw; */
}

.fadeInOut {
    -webkit-animation: fadeInOut 4000ms linear forwards;
    -moz-animation: fadeInOut 4000ms linear forwards;
    -o-animation: fadeInOut 4000ms linear forwards;
    animation: fadeInOut 4000ms linear forwards;
}

@-webkit-keyframes fadeInOut {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
@-moz-keyframes fadeInOut {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-o-keyframes fadeInOut {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
@keyframes fadeInOut {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
