.login-form {
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .login-form > .form-item {
    display: inline-flex;
}

.login-form > .form-item > label {
    min-width: 12rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.login-form > .form-item > input {
    border-radius: 7px;
    border: 1px solid orange;
    background-color: rgba(79, 79, 79, 0.412);

    color: white;
    padding: 7px 5px 7px 5px;
} */
